.container {
  width: 60%;
  max-width: 1440px;
  margin: 32px auto;
}

.content {
  gap: 22px;
  background-color: black;
  color: #656b6e;
  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: palevioletred;
}

.subtitle {
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
}

.video {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.comment {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: pink;
  padding: 38px 32px 32px 64px;
  border-radius: 8px;
  gap: 12px;
}

.commentText {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.4;
}

.commentFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  text-align: right;
  font-size: 16px;
}

.edit {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 2px;
  font-weight: 700;
  color: palevioletred;
  text-decoration: none;
}
