.container {
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  margin: 32px 128px;
  width: 100%;
}
.button {
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  background-color: #ff731d;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
